
/* Create Product */
.header{
    display: flex;
    justify-content: space-between;
}
.header .Upload-Imgs{
    align-items: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.header .Upload-Imgs #icon-cam{
    box-shadow: 2px rgb(191, 109, 109);
    color: red;
}
.header #icon-cam:hover{
    color: black;
    cursor: pointer;
}
.div-createProduct{
    padding: 18px;
}

.div-createProduct h1 {
    color: #370617;
    margin-bottom: 15px;
}

.div-createProduct form{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.div-createProduct form input{
    border: 0.7px solid grey;
    margin-bottom: 20px;
}

.div-createProduct form input:hover{
    border: none;
    border-bottom: 0.8px solid grey;
    box-shadow: 1.5px #dc2f02;
}
.div-createProduct form input:focus{
    border: none;
    box-shadow: 1.5px #dc2f02;
}

.div-createProduct form select{
    margin-bottom: 18px;
}
.div-createProduct form textarea {
    margin-bottom: 25px;
}

.div-createProduct form button{
    border: none;
    background-color: #9d0208;
    color: white;
}

.div-createProduct form button:hover , .div-createProduct form button:focus{
    background-color: #f55c35;
}

/* Upload Img */


.div-createProduct .img{
    display: none;
    /* border: none;
    background-color: #90e0ef; */
}

@media (max-width: 530px){
    .div-createProduct h1 {
        font-size: 22px;
    }
}