
/* .div-prod {
    display: flex;
    width: 80vw;
} */
.cuadro-product{
    margin-bottom: 50px;
    background-color: #bde0fe;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.cuadro-product .img{
    /* display: flex; */
    /* max-height: 50vh; */
    width: fit-content;
}
.cuadro-product .img img {
    border-radius: 20px;
    padding: 7px;
    margin-right: 10px;
    max-height: 55vh;
    width: 45vw;
}
.cuadro-product .info-prod{
    display: flex;
    flex-direction: column;
}
.cuadro-product .info-prod >*{
    margin: 10px;
}
.cuadro-product .info-prod .color-precio{
    color: red;
}

@media ( max-width: 430px) {
    .cuadro-product{
        flex-direction: column;
        margin-bottom: 20px;
        padding: 0px;
    }
    .cuadro-product .img img {
        padding: 5px;
        margin-right: 5px;
        max-height: 60vh;
        width: 50vw;
    }
}
