
.last-imgs .marco{
    margin-right: 20px;
}

.last-imgs .marco img{
    height: 250px;
    margin-bottom: 3px;
    padding: 7px;
    width: 220px;
}

.last-imgs .marco span{
    color: rgb(2, 243, 2);
}