
.div-buyProduct{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.div-buyProduct .header h2{
    color: #03045e;
    margin-bottom: 16px;
}


.div-buyProduct .header{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    margin-bottom: 10px;
}
.div-buyProduct .header .divIcon-whatsapp {
    align-items: center;
    background-color: #70e000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 45px;
    width: 50px;
}
.div-buyProduct .header .divIcon-whatsapp:hover{
    cursor: pointer;
    background-color: #38b000;
}

.div-buyProduct .header .divIcon-whatsapp #icon-whatsapp{
    color: white;
    margin: 0px;
    padding: 0px;
    /* font-size: 2.2rem; */
}




.div-buyProduct .info-propriety{
    background-color: #b9fbc0;
    border-radius: 16px;
    padding: 8px 30px 8px 30px;
}
.div-buyProduct .info-propriety img {
    border-radius: 100%;
    padding: 10px 0px 25px 0px;
    width: 30vw;
}
.div-buyProduct .info-propriety li{
    /* border-bottom: 0.5px solid slategrey; */
    list-style: none;
    margin-bottom: 18px;
}
.div-buyProduct .info-propriety li h4{
    color: #0077b6;
}




/* @media (max-width: 430px) {
    .div-buyProduct{
        align-items: center;
        justify-content: center;
    }
    .div-buyProduct .info-propriety{
        padding: 4px;
    }
} */