

.body{
    padding: 0px;
    margin: 0px;
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    overflow-x: hidden;
    /* width: fit-content; */
    /* background-color: grey; */
}

.slider {
    width: fit-content;
    /* height: auto; */
    /* margin-bottom: 20px; */
    overflow-x: auto; 

}
.slider::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
 .slides {
    display: flex;
    width: fit-content;
    /* height: 350px; */
}
.slides input {
    display: none;
}
.slide {
    /* width: 20%; */
    transition: 2s;
}
.cuadro-product{
    margin-right: 20px;
}
.slide .cuadro-product{
    align-items: center;
    /* background-color: gray; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 20px;
}
.slide .cuadro-product .color-precio{
    color: red;
    padding-bottom: 10px;
    /* margin-left: 42px; */
}
.slide .cuadro-product img {
    margin-bottom: 10px;
    height: 250px;
    width: 220px;
}
.slide .cuadro-product span {
    font-size: 20px;
}

@media (max-width: 430px){
    .slide .cuadro-product{
        padding: 15px;
    }
};

/* Css for manual-navigation */
/* .manual-navigation {
    position: absolute;
    top: 80%;
    left: 44%;
    display: flex;   
    justify-content: center;
}
.manual-btn {
    border: 1px solid red;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
   margin-right: 40px;
}
.manual-btn:hover, .manual-btn:focus {
    background: red;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -200px;
}
#radio3:checked ~ .first{
    margin-left: -400px;
}
#radio4:checked ~ .first{
    margin-left: -600px;
}
#radio5:checked ~ .first{
    margin-left: -800px;
}
#radio6:checked ~ .first{
    margin-left: -1010px;
}
#radio7:checked ~ .first{
    margin-left: -1240px;
} */





