
.getPermission{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.getPermission .divIcon-whatsapp{
    display: flex;
    justify-content: space-between;
}
.getPermission .divIcon-whatsapp .cuadro{
    align-items: center;
    background-color: #70e000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 45px;
    width: 50px;
}
.getPermission .divIcon-whatsapp .cuadro:hover{
    cursor: pointer;
    background-color: #38b000;
}

.getPermission .divIcon-whatsapp #icon-whatsapp{
    /* background: green; */
    color: white;
    font-size: 2.2rem;
}

.getPermission h1{
    color: #006400;
    margin-bottom: 10px;
    padding: 10px;
}
.getPermission h5{
    margin-bottom: 10px;
    padding: 10px;
}
.getPermission .admin{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}
.getPermission .admin img{
    border-radius: 100%;
    margin-bottom: 10px;
    width: 150px;
}
.getPermission .admin h3{
    color: #008000;
}

@media (max-width: 430px){
    .getPermission .admin h3{
        font-size: medium;
    }
}

