
/* Boss, the first div root*/
.boss{
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
}
.home{
    display: inline-flex;
    margin-bottom: 20px;
    width: 100%;
}

.home .logo {
    display: inline-flex;  
    margin-left: 15px;
}

.home .logo li {
    margin-right: 2.5px;
    list-style: none;
}

.home .logo li  .first-letter{
    color: red;
}
.home .logo li  .second-letter{
    color: blue;
}
.home .logo li .third-letter{
    color: yellow;
}
.home .logo li .fourth-letter{
    color: green;
}

.home .form-search {
    width: 150px;
    position: absolute;
    right: 14px;
}

/* Show Categories below to Logo and search */
.show-categories{
    display: inline-flex;
    margin-left: 25px;
    margin-bottom: 20px;
    overflow-x: auto;
    width: auto;
}
.show-categories::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.div-recent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.div-recent .text-recientes{
    margin-top: 3px;
    margin-right: 8px;
}
.div-recent i:hover{
    color: blue;
}




