
/* Boss, the first div root*/
.boss{
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
}
.home{
    display: inline-flex;
    margin-bottom: 20px;
    width: 100%;
}

.home .logo {
    display: inline-flex;  
    margin-left: 15px;
}

.home .logo li {
    margin-right: 2.5px;
    list-style: none;
}

.home .logo li  .first-letter{
    color: red;
}
.home .logo li  .second-letter{
    color: blue;
}
.home .logo li .third-letter{
    color: yellow;
}
.home .logo li .fourth-letter{
    color: green;
}

.home .form-search {
    width: 150px;
    position: absolute;
    right: 14px;
}
.home .form-search .div-search{
    border: 0.8px solid grey;
    display: inline-flex;
    width: fit-content;
}
.home .form-search .div-search input{
    border: none;
    /* border-right: 1px solid grey; */
    /* border: 0px 1px 0px 0px; */
}
.home .form-search .div-search i{
    background-color: rgb(8, 180, 224);
    margin: 0px;
    padding: 0px 0px 0px 7px;
}
.home .form-search .div-search i:hover{
    background-color: rgb(5, 92, 113);
    
}

/* Show Categories below to Logo and search */
.show-categories{
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: center;
    padding: 0px;
    margin: 0px 0px 0px 15px;
    overflow: hidden;
    /* overflow-y: hidden; */

}
.show-categories .slider{
    height: 52px;
    overflow-x: auto; 
    /* width: fit-content; */
}
.show-categories .slider .slides{
    display: flex;
    flex-direction: row;
    height: fit-content;
}
.slider::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.div-recent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.div-recent .text-recientes{
    margin-top: 3px;
    margin-right: 8px;
}
.div-recent i:hover{
    color: blue;
}




