
.cuadro-categ{
    border: 1.5px solid black;
    border-radius: 15px;
    height: fit-content;
    padding: 5px;
    margin-right: 15px;
    width: fit-content;
}
.cuadro-categ span{
    display: inline-flex;
}
.cuadro-categ:hover , .cuadro-categ:focus{
    background-color: #ffff3f;
    border-color: #eeef20;
    cursor: pointer;
}
