#return-i{
    font-size: 2.5rem;
}
#return-i:hover{
    color: #a2d2ff;
}
.div-MyProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 20px 40px 40px 40px; */
}
.div-MyProducts .cabecera-misProductos{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 7px 25px 15px 5px;
    width: 100%;
}
.div-MyProducts .cabecera-misProductos .div-delete-select{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: fit-content;
}
.div-MyProducts .cabecera-misProductos .div-delete-select select{
    height: 40px;
    width: 300px;
}
.div-MyProducts .cabecera-misProductos .div-delete-select #trash{
    color: red;
}
.div-MyProducts .cabecera-misProductos .div-delete-select #trash:hover{
    color: black;
    cursor: pointer;
}

.div-MyProducts h1{
    margin: 15px;
    width: 100%;
}

.myproduct {
    background-color: #a2d2ff; 
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    width: fit-content;
}
.myproduct .one-cuadro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: fit-content;
}
.myproduct .one-cuadro img {
    padding: 6px;
    width: 170px;
}
.myproduct .one-cuadro .information{
    display: flex;
    flex-direction: column;
    padding: 5px;
    /* width: 50%; */
}

.myproduct .one-cuadro i{
    padding-right: 8px;
}

@media (max-width: 470px){
    .div-MyProducts .cabecera-misProductos .div-delete-select select{
        width: 200px;
    }
    .myproduct {
        flex-direction: column;
        margin: 15px 10px 15px 10px;
        padding: 10px;
        width: 100%;
    }
    .myproduct .one-cuadro{
        padding: 5px;
        width: 90vw;

    }
    
}