#return-i{
    font-size: 2.5rem;
}
#return-i:hover{
    color: #a2d2ff;
}
.div-MyProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 40px 40px 40px;
}
.myproduct {
    background-color: #a2d2ff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin: 10px 20px 10px 0px;
    padding: 5px;
    width: fit-content;
}
.myproduct .one-cuadro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    width: fit-content;
}
.myproduct .one-cuadro img {
    padding: 6px;
    width: 170px;
}
.myproduct .one-cuadro .information{
    display: flex;
    flex-direction: column;
    padding: 5px;
    /* width: 50%; */
}

@media (max-width: 430px){
    /* .div-MyProducts{
        flex-direction: column;
    } */
    .myproduct {
        flex-direction: column;
        margin-bottom: 25px;
        margin: 10px 0px 10px 0px;
        width: 96vw;
    }
    .myproduct .one-cuadro{
        padding: 5px;
        width: 90vw;

    }
    
}