
.div-not-logged{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 60px;
}
.div-not-logged .cuadro-info-not-logged{
    border-radius: 20px;
    background-color: #ade8f4;
    padding: 8px;
    height: 30vh;
    width: 70vw;
}
.div-profile {
    width: 100%;
}
.div-profile h1{
    margin: 30px 0px 8px 20px;
}
.div-color {
    background-color: #a2d2ff;
    border-radius: 20px;
    margin: 28px;
    padding: 20px;
}
.div-color .header{
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    padding: 0px 10px 0px 0px;
    width: 100%;
}
.div-color .isFullForm{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 0px;
    /* margin-bottom: 10px; */
    /* padding: 10px; */
}
.div-color .isFullForm i:hover{
    color: red;
}
/* #edit-icon{
    position: absolute;
    right: 8vw;
    top: 14%;
} */
#edit-icon:hover , #edit-icon:focus{
    cursor: pointer;
    color: blue;
}
.div-img-user{
    display: flex;
    margin-left: 50px;
}
.div-img-user img{
    border-radius: 100%;
    width: 30vw;
}
.div-user-info{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 20px;
    /* margin-left: 20px; */
    width: fit-content;
}

.div-user-info ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}
.div-user-info ul > *{
    margin: 4px;
}
.div-user-info ul li {
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
}
.div-user-info ul li .div-icon{
    margin-right: 20px;
    
    background-color: white;
    display: flex;
    justify-content: center;
    width: 50px;
}
.div-user-info ul li .div-icon i{
    margin: 0px;
    padding: 0px;
}
.div-user-info ul li > *{
    margin-right: 16px;
}

.div-user-info ul li .div-h5-p{
    /* align-self: flex-end; */
    /* background-color: white;
    border: 0.6px solid black; */
    display:flex;
    padding-top: 10px;
    /*flex-direction: row;
    justify-content: center;
    align-self: flex-start; */
    /* padding: 10px 5px 0px 5px; */
}
.div-user-info ul li .div-h5-p > *{
    margin-right: 8px;
}
.div-user-info ul li .div-h5-p p{
    font-size: 18px;
    /* padding-top: 1.5px; */
}

.div-profile .divButtonSeeProducts{
    margin-bottom: 40px;
    padding: 0px 30px 80px 30px;
    width: 100%;
}
.div-profile .divButtonSeeProducts button {
    width: 100%;
}

@media (max-width: 680px){
    .div-user-info ul{
        width: fit-content;
    }
    .div-user-info ul li{
        width: fit-content;
    }
    .div-user-info ul li .div-icon{
        margin-right: 5px;
        width: 30px;
    }
    .div-user-info ul li .div-h5-p h4, .div-user-info ul li .div-h5-p h5 {
        font-size: 14px;
    }
    .div-user-info ul li .div-h5-p p{
        font-size: 12px;
    }
}

@media (max-width: 530px) {
    .div-color {
        margin: 20px 4px 15px 4px;
        padding: 15px 4px 15px 4px;
    }
    .div-img-user{
        justify-content: center;
        margin-left: 0px;
    }
    .div-img-user img{
        width: 50vw;
    }
    .div-user-info{
        padding: 15px 0px 0px 0px;
        margin-left: 0px;
    }
    .div-user-info ul{
        padding: 0px;
        margin: 0px;
    }
    .div-user-info ul li .div-icon{
        margin-right: 3px;
        /* width: 30px; */
    }
    .div-user-info ul li .div-h5-p h4, .div-user-info ul li .div-h5-p h5 {
        font-size: 12px;
    }
    .div-user-info ul li .div-h5-p p{
        font-size: 10px;
    }
}